name: Create Github Repo Labels
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main

jobs:
  create_labels:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up GitHub CLI
        run: sudo apt-get install gh -y

      - name: Clear all existing labels
        run: |
          label_json=$(gh label list --repo ${{ github.repository }} --json name --limit 999)
          echo "$label_json" | jq -r '.[].name' | while IFS= read -r label; do
            gh label delete "$label" --repo ${{ github.repository }} --yes || echo "Failed to delete label: '$label'"
          done

      - name: Create labels
        run: |
          while IFS= read -r line
          do
            IFS="," read -r name color description <<< "$line"
            color=${color#\#}
            gh label create "$name" \
              --color "$color" \
              --description "$description" \
              --repo ${{ github.repository }} \
              --force
          done < .github/workflows/repo_labels.txt
